* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #mainmenu ul {
        flex-direction: column;
        align-items: center;
    }

    #mainmenu li {
        margin: 10px 0;
    }
}

@font-face {
    font-family: 'Sarabun';
    src: url('/projectsite/fonts/Sarabun-Regular.ttf') format('truetype');
}

body {
    color: #333;
    font-family: 'Sarabun', sans-serif;
    background-color: #c2f7bd;
}

#pb_aside {
    width: 100%;
    max-height: 40px;
    position: relative;
    overflow: hidden;
}

#pb_header {
    background-color: #c2f7bd;
    padding: 20px;
    text-align: center;
}

#pb_header h1 span {
    text-decoration: none;
    color: #005a00;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    letter-spacing: 1px;
}

#pb_header h1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pb_header p {
    font-size: 30px;
    color:#007700;
    text-align: center;
    margin-top: 0px;
    
}

#main {
    padding: 0 20px;
    box-sizing: border-box;
}

#main p {
    text-indent: 20px;
    word-spacing: 2px;
}

#mainmenu {
    background-color: #333;
    text-align: center;
}

#mainmenu ul {
    list-style: none;
    padding: 0;
}

#mainmenu li {
    display: inline;
    margin: 10px 30px;
}

#mainmenu a {
    text-decoration: none;
    color: #c2f7bd;
    font-weight: bold;
    transition: color 0.3s; 
}

#mainmenu a:hover {
    color: #4CAF50;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 40px;
    margin: 0px;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5px;
}

#grid-container > article {
    background-color: #c2f7bd;
    border: solid 3px #333;
    text-align: left;
    padding: 1em 1.5rem;
    font-size: 30px; 
}

#grid-container > article > h2::first-letter{
    text-transform: uppercase;
}

figcaption {
    font-size: 15px;
    text-align: center;
}

.cookie-message {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff; 
    padding: 10px;
    z-index: 999; 
}

#grid-container > .subarticles > h2 {
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 35px;
}

#grid-container > .subarticles > h2 > a {
    color:#333
}

#grid-container > .subarticles > h2 > a:visited {
    color: rgb(0, 0, 107);
}

#grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
}


#grid-container .homepage-images img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #333;
    position: static;
} 

#mainmenu .home-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .home-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .home-link a:hover {
    color: black;
}

/* Footer styling */
#pb_footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#pb_footer_section_2 h2 {
    font-size: 14px;
}
