* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #mainmenu ul {
        flex-direction: column;
        align-items: center;
    }

    #mainmenu li {
        margin: 10px 0;
    }
}

@font-face {
    font-family: 'Sarabun';
    src: url('/projectsite/fonts/Sarabun-Regular.ttf') format('truetype');
}

body {
    color: #333;
    font-family: 'Sarabun', sans-serif;
    background-color: #c2f7bd;
}

#pb_aside {
    width: 100%;
    max-height: 40px;
    position: relative;
    overflow: hidden;
}

#pb_header {
    background-color: #c2f7bd;
    padding: 20px;
    text-align: center;
}

#pb_header h1 span {
    text-decoration: none;
    color: #005a00;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    letter-spacing: 1px;
}

#pb_header h1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pb_header p {
    font-size: 30px;
    color:#007700;
    text-align: center;
    margin-top: 0px;
    
}

#main {
    padding: 0 20px;
    box-sizing: border-box;
}

#main p {
    text-indent: 20px;
    word-spacing: 2px;
}

#mainmenu {
    background-color: #333;
    text-align: center;
}

#mainmenu ul {
    list-style: none;
    padding: 0;
}

#mainmenu li {
    display: inline;
    margin: 10px 30px;
}

#mainmenu a {
    text-decoration: none;
    color: #c2f7bd;
    font-weight: bold;
    transition: color 0.3s; 
}

#mainmenu a:hover {
    color: #4CAF50;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 40px;
    margin: 0px;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5px;
}

#grid-container > article {
    background-color: #c2f7bd;
    border: solid 3px #333;
    text-align: left;
    padding: 1em 1.5rem;
    font-size: 30px; 
}

figcaption {
    font-size: 15px;
    text-align: center;
}

#grid-container > .subarticles > h2 {
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 35px;
}

#grid-container > .subarticles > h2 > a {
    color:#333
}

#grid-container > .subarticles > h2 > a:visited {
    color: rgb(0, 0, 107);
}

#grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.beestjes-img {
    display: flex;
    flex-direction: column;
}

.beestjes-img > img {
    margin-bottom: 20px;
}

#beestjes-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#grid-container .homepage-images img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #333;
    position: static;
} 

#planten-main-section {
    border-bottom: 4px solid #333;
    border-top: 4px solid #333;
}
.main-planten {
    text-align: center;
    padding: 20px;
}

.main-planten > h2 {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
}

.main-planten > p {
    font-size: 25px;
}

.gridcontainer-planten1 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border-bottom: 4px solid #333;
}

.gridcontainer-planten1 > article {
    background-color: #c2f7bd;
    text-align: left;
    padding: 1em 1.5rem;
    font-size: 30px; 
}

.gridcontainer-planten1 > article > h1 {
    font-size: 25px;
}

.gridcontainer-planten1 > article > p {
    margin-bottom: 20px;
    font-size: 20px;
}

.gridcontainer-planten2 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.gridcontainer-planten2 > article {
    background-color: #c2f7bd;
    text-align: left;
    padding: 1em 1.5rem;
    font-size: 30px; 
}

.gridcontainer-planten2 > article > h2 {
    font-size: 25px;
}

.gridcontainer-planten2 > article > p {
    margin-bottom: 20px;
    font-size: 20px;
}

.gridcontainer-planten1 > .planten-images img {
    float: none;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    border: 4px solid #333;
}

.gridcontainer-planten2 > .planten-images img {
    float: none;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 4px solid #333;
}



.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: auto;
    border: 3px solid;
    border-color: #000;
    border-style: solid;
}


.contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 5px 0;
}

.contact-form input,
.contact-form textarea {
    padding: 20px;
    margin: 5px 0;
    border: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 3px;
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333;
}

.radio-description {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.radio-description input[type="radio"] {
    margin-right: 10px;
}

.radio-description .custom-option {
    display: none;
}

.radio-description input[type="radio"]:checked + .custom-option {
    display: inline-block;
}


#mainmenu .home-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .home-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .home-link a:hover {
    color: black;
}

#mainmenu .planten-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .planten-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .planten-link a:hover {
    color: black;
}

#mainmenu .beestjes-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .beestjes-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .beestjes-link a:hover {
    color: black;
}

#mainmenu .voordelen-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .voordelen-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .voordelen-link a:hover {
    color: black;
}

#mainmenu .planten-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .planten-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .planten-link a:hover {
    color: black;
}

#mainmenu .contact-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .contact-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .contact-link a:hover {
    color: black;
}

#mainmenu .hulpmiddelen-link {
    background-color: #c2f7bd; 
    padding: 0.5px 10px; 
    border-radius: 5px; 
    padding-bottom: 3px;
}

#mainmenu .hulpmiddelen-link a {
    color: #007700; 
    text-decoration: none;
}

#mainmenu .hulpmiddelen-link a:hover {
    color: black;
}

/* Footer styling */
#pb_footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

#pb_footer_section_2 h2 {
    font-size: 14px;
}
